﻿
@using BoardWepApp.Models
@model IEnumerable<UserInfo>




<title>@ViewData["Title"]- 로그인 </title>
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">TL Community</div>
                </div>
                <div class="panel-body">
                    <form id="login-form">
                        <div>
                            <input type="text" class="form-control" id="id" name="id" placeholder="아이디를 입력하세요" autofocus>
                        </div>
                        <div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="패스워드를 입력하세요">
                        </div>
                        <div>
                            <button type="submit" class="form-control btn btn-primary">로그인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  
        @section scripts{
        <script>
          
            $(document).ready(function(e){
                $("button[type=submit]").click(function(e){
                    e.preventDefault()
                    console.log
                    $.ajax({
                         url:"/Account/LoginTry",
                           type:"post",
                           data:{
                               "id":$("#id").val(),
                               "password":$("#password").val()
                                },
                           success: function(data){
                               alert(data)
                           },
                           error:function(data){
                               console.log(data)
                           }
                    })
                    
                })
            })
        </script>

                
        }
        

