﻿
@using BoardWepApp.Models
@model IEnumerable<UserInfo>




<title>@ViewData["Title"]- 회원가입 </title>
<article class="container">
            <div class="page-header">
                <div class="col-md-6 col-md-offset-3">
                <h3>회원가입</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-offset-3">
                <form role="form" action="/Account/UserRegist" method="post" >
                    <div class="form-group">
                        <label for="inputName">성명</label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="이름을 입력해 주세요">
                    </div>
                    <div class="form-group">
                        <label for="inputId">아이디</label>
                        <input type="text" class="form-control" id="inputId" name="id" placeholder="아이디를 입력해 주세요" >
                        <button id="idCheck" >중복체크</button>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">이메일 주소</label>
                        <input type="email" class="form-control" id="InputEmail" name="email" placeholder="이메일 주소를 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">비밀번호</label>
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="비밀번호를 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordCheck">비밀번호 확인</label>
                        <input type="password" class="form-control" id="inputPasswordCheck"  placeholder="비밀번호 확인을 위해 다시한번 입력 해 주세요">
                    </div>
                    <p id="pwdCheckResult"></p>
                    <div>
                    <input type="text" class="zip_code" id="zipNo" readonly> 
                    <button type="button" class="zip_code_btn" onclick="javascript:goPopup();">우편번호</button><br/>
                    <input type="text" placeholder="기본 주소를 입력해 주세요" id="addr"><br/> 
                    <input type="text" placeholder="나머지 주소를 입력해 주세요" id="addrDetail">
                    </div>
                    


                    <div class="form-group">
                        <label for="inputMobile">휴대폰 번호</label>
                        <input type="tel" class="form-control" id="inputMobile" name="phone" placeholder="휴대폰번호를 입력해 주세요">
                    </div>
                    <div class="form-group text-center">
                        <button  id="joinSubmit" class="btn btn-primary">
                            회원가입
                        </button>
                        <button type="submit" class="btn btn-warning">
                            가입취소
                        </button>
                    </div>
                </form>
            </div>
        </article>
        <ul>
    @*@foreach(var UserInfo in Model)
    {
        <li>Id:@UserInfo.id</li>
    }
        </ul>*@
        
        @section scripts{
        
            <script>
                var pass={
                    idChecked:false,
                    pwdChecked:false
                }
                
                

                $(document).ready(function(e){

                    //패스워드 일치 체크 
                   $("#inputPasswordCheck").change(function(e){
                       
                       var pwd1 = $("#inputPassword").val()
                       var pwd2 = $("#inputPasswordCheck").val()
                       var same = pwd1===pwd2
                       if(same){
                           pass.pwdChecked=true;
                           $("#pwdCheckResult").text("비밀번호가 일치합니다").css('color','blue')
                       }
                       else{
                           $("#pwdCheckResult").text("비밀번호가 일치하지 않습니다").css('color','red')
                           pass.pwdChecked=false;
                       }
                   })
                   
                   //id 중복 체크
                    $("#idCheck").click(function(e){
                        e.preventDefault()
                        console.log("눌림")
                         $.ajax({
                           url:"/Account/IdCheck",
                           type:"get",
                           data:{"id":$("#inputId").val()},
                           success: function(data){
                               if(data == 0){
                                   alert("회원가입가능한 아이디입니다")
                                   pass.idChecked=true;
                               }
                               else{
                                   alert("회원가입이 불가능한 아이디입니다")
                                   pass.idChecked=false;
                               }
                           },
                           error:function(data){
                               console.log(data)
                           }
                       })
                    })
                      
                    //회원가입 클릭시
                    $("#joinSubmit").click(function(e){
                        
                        for(const key in pass){
                           if(!pass[key]){
                               alert("필수 요청사항을 확인해주세요 ("+key+")")
                               return false
                           }
                        }
                        
                        
                    })
                })

                //주소 입력
              

                </script>
                
        }
        

